fastapi==0.139.0
ipython==9.15.0
langchain==1.3.11
langchain_core==1.4.8
langchain_groq==1.1.3
langchain_openai==1.3.3
langgraph==1.2.7
pydantic==2.13.4
PyGithub==2.9.1
python-dotenv==1.2.2
Requests==2.34.2
